@tailwind base;
@tailwind components;
@tailwind utilities;




html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;   
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* HeroHome.js */

/* Description.js */
.hero-h2,
.hero-paragraph{
  color: #363636;
}
/* Events */
.read-more{
  color: #FFCF00;
}
/* Partnership.js */
.patnership-title{
  color: #363636;
}
/* Footer.js */
.footer{
  background: linear-gradient(0deg, rgba(102, 0, 102, 0.6), rgba(102, 0, 102, 0.6)), url(/footerImg.png);
}