@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;   
}
/* global css */
:root {
  --main-color: #660066;
  --secondary-color: #363636;
  --third-color: #FFCF00;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Events */
.read-more{
  color: var(--third-color);
}

/* Footer.js */
.footer{
  background: linear-gradient(0deg, rgba(102, 0, 102, 0.6), rgba(102, 0, 102, 0.6)), url(/footerImg.png);
}


/* login.js */
.sub-btn {
  background-color: #660066;
}

.login, .pw, .sign-up {
  color: #660066;
}

