/* NavBar.js */

.btn2{
  background-color: #660066;
}
.span1{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #660066;
}
.span2{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

/* HeroHome.js */
.hero{
  background-color: rgba(102, 0, 102, 0.1);
}

.navigationCard::after {
  background-color: rgba(102, 0, 102, 0.7);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Volunteer.js */
.overlay{
  background-color: rgba(0,0,0,0.8);
  margin-top: 2rem;
}
.volunteer{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  padding: 5px 25px;
  margin-top: 1rem;
  display: inline-block;
}
.volBtn1{
  background: #FF7262;
}
.volBtn2{
  background: #FFCF00;
}
.volBtn3{
  background: #3C3C3C;
}
.volBtn4{
  background: #BA2989;
}
.volBtn5{
  background: #7B61FF;
}
.volBtn6{
  background: #0156BB;
}
